---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ServicesSection from "../components/ServicesSection.astro";
import SparePartsSection from "../components/SparePartsSection.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="REVO - Instalación profesional">
  <Header />

  <main>
    <Hero />
    <ServicesSection />
    <SparePartsSection />
  </main>

  <Footer />
</BaseLayout>